<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.dogscloud">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dogscloud"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activities.Fragments.menu.programacuidado.ClientShoppingBagActivity"
            android:exported="false" />
        <activity
            android:name=".activities.Fragments.menu.programacuidado.InfoCompra"
            android:exported="false"
            android:parentActivityName=".activities.Fragments.menu.programacuidado.PantallaCuidadorActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Fragments.menu.programacuidado.map.ClientAddressMapActivity"
            android:exported="false" />
        <activity
            android:name=".activities.Fragments.menu.programacuidado.SolicitarCantidadSimpleCuidado"
            android:exported="false"
            android:parentActivityName=".activities.Fragments.menu.programacuidado.PantallaCuidadorActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.client.home.AgregarMascotaInicio"
            android:exported="false"
            android:parentActivityName=".activities.SaveImageActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activities.Fragments.menu.trabajadores.VerTrabajador"
            android:exported="true"
            android:parentActivityName=".activities.Fragments.menu.trabajadores.MisTrabajadores"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Fragments.menu.trabajadores.MisTrabajadores"
            android:exported="false"
            android:parentActivityName=".activities.client.home.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Fragments.menu.programapaseo.MascotasPa.MisMascotasPa"
            android:exported="true"
            android:parentActivityName=".activities.Fragments.menu.programapaseo.SeleccionarMascota"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Fragments.menu.programapaseo.MascotasPa.EditarMascotasPa"
            android:exported="true"
            android:parentActivityName=".activities.Fragments.menu.programapaseo.MascotasPa.MisMascotasPa"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Fragments.menu.programapaseo.MascotasPa.AgregarMascotasPa"
            android:exported="true"
            android:parentActivityName=".activities.Fragments.menu.programapaseo.MascotasPa.MisMascotasPa"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Fragments.menu.programacuidado.MascotasCu.AgregarMascotasCu"
            android:exported="true"
            android:parentActivityName=".activities.Fragments.menu.programacuidado.MascotasCu.MisMascotasCu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Fragments.menu.programacuidado.MascotasCu.EditarMascotasCu"
            android:exported="true"
            android:parentActivityName=".activities.Fragments.menu.programacuidado.MascotasCu.MisMascotasCu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Fragments.menu.programacuidado.MascotasCu.MisMascotasCu"
            android:exported="true"
            android:parentActivityName=".activities.Fragments.menu.programacuidado.SeleccionarMascotaCu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Fragments.menu.programacuidado.SolicitarCuidado"
            android:exported="true"
            android:parentActivityName=".activities.Fragments.menu.programacuidado.PantallaCuidadorActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Fragments.menu.programacuidado.SolicitarCantidadCu"
            android:exported="true"
            android:parentActivityName=".activities.Fragments.menu.programacuidado.PantallaCuidadorActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Fragments.menu.programacuidado.SeleccionarMascotaCu"
            android:exported="true"
            android:parentActivityName=".activities.Fragments.menu.programacuidado.SolicitarCantidadCu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Fragments.menu.programacuidado.CuidadorEscogido"
            android:exported="true"
            android:parentActivityName=".activities.Fragments.menu.programacuidado.PantallaCuidadorActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Fragments.menu.programacuidado.PantallaCuidadorActivity"
            android:exported="true"
            android:parentActivityName=".activities.client.home.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Fragments.mascotas.EditarMascotasMenu"
            android:exported="true"
            android:parentActivityName=".activities.client.home.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Fragments.mascotas.AgregarMascotasMenu"
            android:exported="true"
            android:parentActivityName=".activities.client.home.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Fragments.menu.programapaseo.PantallaPaseadorActivity"
            android:exported="true"
            android:parentActivityName=".activities.client.home.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SaveImageActivity"
            android:exported="true" />
        <activity
            android:name=".activities.admin.home.AdminHomeActivity"
            android:exported="true" />
        <activity
            android:name=".activities.SelectRolesActivity"
            android:exported="true" />
        <activity
            android:name=".activities.Fragments.menu.programapaseo.SolicitarPaseo"
            android:exported="true"
            android:parentActivityName=".activities.Fragments.menu.programapaseo.SolicitarCantidad"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Fragments.menu.programapaseo.SolicitarCantidad"
            android:exported="true"
            android:parentActivityName=".activities.Fragments.menu.programapaseo.SolicitarPaseo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Fragments.menu.programapaseo.SeleccionarMascota"
            android:exported="true"
            android:parentActivityName=".activities.Fragments.menu.programapaseo.SolicitarCantidad"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Fragments.menu.programapaseo.PaseadorEscogido"
            android:exported="true"
            android:parentActivityName=".activities.Fragments.menu.programapaseo.PantallaPaseadorActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.client.home.MainActivity"
            android:exported="true" />
        <activity
            android:name=".activities.client.home.SugerenciaActivity"
            android:exported="true" />
        <activity
            android:name=".activities.client.home.AnuncioTresActivity"
            android:exported="true" />
        <activity
            android:name=".activities.client.home.AnuncioDosActivity"
            android:exported="true" />
        <activity
            android:name=".activities.client.home.AnuncioUnoActivity"
            android:exported="true" />
        <activity
            android:name=".activities.SignUpActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.SignInActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAnUnzHN03rafq8y7G3WMDaJ1fwoWz8qzg" />
    </application>

</manifest>